footer
  .container.text-center
    p.pull-left © 2018 myTeam GmbH. All Rights Reserved
    ul.pull-right.list-inline
      li=version
      li
        a(href='https://github.com/migaman/myteam') GitHub Project
      li
        a(href='https://github.com/migaman/myteam/issues') Issues
