{
  "extends": "eslint:recommended",
  "env" : {
    "node" : true,
    "jquery" : true,
	"es6": true
  },
  "parserOptions": {
   "ecmaVersion": 6
  },
  "rules": {
	"no-mixed-spaces-and-tabs": 2,
	"strict": 2                            // require or disallow strict mode directives
  }
}