extends layout

block content
    h1= title
    p All my events

    // Wrapper
    #wrapper

        #eventList
            table(class="table table-hover")
                thead
                    th Description
                    th Start Date
                    th End Date
                    th Status
                tbody
    // /WRAPPER

block additionalscripts
  script(src='/js/events.js')