extends layout

block content
    h1=title
    p Event Id: #{idevent}

    // Wrapper
    #wrapper

        #playerList
            table(class="table table-hover")
                thead
                    th Firstname
                    th Lastname
                    th Status
                tbody
    // /WRAPPER

block additionalscripts
  script(src='/js/event.js')